

.tr-input {
    td {
        padding: 0;
    }
    input[type="text"] {
        width: 100%;

        background-color: rgba(0,0,0,0);
        border: solid 1px rgba(0,0,0,0);

        padding: 0.55rem 0.6rem 0.55rem;
        color: #fff;
        line-height: 1.1rem;

    }
}

.tr-input-active {
    input[type="text"] {
        border: solid 1px hsl(198, 100%, 28%);
    }
}