.projection-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .projection-container-content {
        width: 100vw;
        margin-left: 0;
        padding-left: 10vw;
        padding-right: 10vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;

        font-size: 10vh;
        line-height: 15vh;

        .projection-group-name {
            background-color: rgba(255, 255, 255, 0.5);
            width: 100%;
            text-align: center;
        }


        .projection-poet-scores {
            display: flex;
            max-width: 80vw;

            .score {
                padding-top: 0;
                padding-bottom: 0;

                margin: 1rem;

                font-size: 8vh;
                line-height: 15vh;
                height: 15vh;

                .score_defined {
                    width: 15vh;
                    height: 15vh;
                    text-align: center;
                }

                .score_undefined {
                    height: 15vh;
                    width: 15vh;
                    text-align: center;
                }

                .hide {
                    display: none;
                }

            }
        }
    }
}