<div class="projection-container animate__animated"
    [ngClass]="{ 'animate__slideInLeft animate__fadeIn': show, 'animate__slideOutLeft animate__fadeOut': show == false }">

    <div class="projection-container-content"
        *ngIf="poet != undefined && poet.name != undefined && config != undefined">
        <div class="projection-group-name"
            [ngStyle]="{'color': config.textColor1, 'background-color': config.backgroundColor2 }">
            {{ poet.name }}
        </div>

        <div class="projection-poet-scores">
            <div class="score" *ngFor="let score of scores" [ngStyle]="{'color': config.textColor1, 'background-color': config.backgroundColor1 }">
                {{ score }}
            </div>
        </div>
    </div>
</div>