<section class="md-whiteframe-z1">
    <md-toolbar class="md-secondary">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding">Teilnehmer</h3>
            <span flex="" class="flex"></span>

            <md-button class="md-primary" ng-click="promptParticipant($event, event)">
                + Poet
            </md-button>
        </div>
    </md-toolbar>

    <md-list>
        <md-subheader ng-show="event.participants && event.participants.length > 0"
                      class="md-no-sticky">{{event.participants.length}} Poet(en)
        </md-subheader>

        <md-list-item class="md-2-line" ng-repeat="participant in event.participants">
            <div class="md-list-item-text" layout="column">
                <h3>{{ participant.name }}</h3>
                <p>{{ participant.subtitle}}</p>
            </div>

            <md-checkbox ng-disabled="true" ng-model="participant.assigned"></md-checkbox>
            <md-button class="md-icon-button" aria-label="Löschen"
                       ng-click="deleteParticipant($event, event, participant)">
                <md-icon md-svg-icon="action:delete"></md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="Bearbeiten"
                       ng-click="promptParticipant($event, event, participant)">
                <md-icon md-svg-icon="image:edit"></md-icon>
            </md-button>
        </md-list-item>
    </md-list>
</section>