<div class="md-whiteframe-z2">
    <md-toolbar class="md-secondary">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding">Poeten</h3>
            <span flex></span>

            <md-button class="md-primary" ng-click="addParticipant()">+ Poet</md-button>
        </div>
    </md-toolbar>

    <md-list>
        <md-subheader ng-show="participants" class="md-no-sticky">{{participants.length}} Poet(en)</md-subheader>

        <md-list-item class="md-2-line md-no-proxy" ng-repeat="participant in participants">
            <div class="md-list-item-text">
                <h3>{{ participant.name }}</h3>
                <p>{{ participant.subtitle}}</p>
            </div>

            <div class="md-secondary">
                <md-button class="md-icon-button" aria-label="Löschen"
                           ng-click="deleteParticipant(participant)">
                    <md-icon md-svg-icon="action:delete"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="Bearbeiten"
                           ng-click="editParticipant(participant)">
                    <md-icon md-svg-icon="image:edit"></md-icon>
                </md-button>
            </div>
        </md-list-item>
    </md-list>
</div>