<section class="md-whiteframe-z2 admin-section">
    <md-toolbar class="md-secondary">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding">Hauptsteuerung</h3>
        </div>
    </md-toolbar>

    <md-content class="md-padding">
        <md-input-container>
            <label>Bildschirm</label>
            <md-select ng-model="event.screen">
                <md-option value="intro">Intro</md-option>
                <md-option value="pause">Pause</md-option>
                <md-option value="participant">Teilnehmer</md-option>
                <md-option value="groupRatings">Gruppenrating</md-option>
            </md-select>
        </md-input-container>
    </md-content>
</section>