.DS_Store
node_modules/
.idea
*.iml
components/jquery/*
components/angular/*
components/angular-i18n/*
components/angular-animate/*
components/angular-aria/*
components/angular-flowtype/*
components/angular-material/*
components/angular-messages/*
components/angular-route/*
components/animate.css/*
components/odometer/*
components/Flowtype.js/*
components/Sortable/*

!components/jquery/dist/
!components/angular/angular.js
!components/angular-i18n/angular-locale_de-de.js
!components/angular-animate/angular-animate.js
!components/odometer/odometer.js
!components/Flowtype.js/flowtype.js
!components/angular-flowtype/angular-flowtype.js

!components/animate.css/animate.css
!components/odometer/themes
components/odometer/themes/*
!components/odometer/themes/odometer-theme-minimal.css