html, body {
    font-family: "Roboto", "Helvetica", serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #FFF;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.ng-hide-add:not(.hide-instant) {
    transition: 0.3s ease-in all;
}

.ng-leave:not(.remove-instant) {
    animation-name: fadeOut !important;
    animation-delay: 0.5s !important;
}

.ng-leave.remove-instant {
    display: none !important;
}

.screen-container {
    position: relative;
    width: 100vw;
    height: 75vw;
    background: url('/media/clips/bg.png') no-repeat;
    background-size: cover;
}

.fullscreen-video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.fullscreen-clip {
    z-index: 99999;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
}

.overlay-center {
    position: absolute;
    left: 15%;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transition: all 1s ease-in;
    color: #FFF;
}

.box {
    padding: 1.33%;
    box-sizing: border-box;
    text-transform: uppercase;
    opacity: 0.9;
    background-clip: padding-box;
}

.box-highlight {
    background-color: #ebebff;
    color: #000;
}

.participant-row-main.box-highlight {
    background-color: #9c3eb4;
    color: #FFF;
}

.box-grey {
    background-color: #ebebff;
    color: #000;
}

.box-ignored {
    background-color: #000000;
    color: #444;
    opacity: 0.4;
}

.overlay-highlight {
    width: 100%;
    font-size: 10vh;
    min-height: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay-subline {
    margin-top: 0.5vw;
    font-size: 4vh;
    font-family: Georgia;
    text-shadow: -1px 1px 3px #000, -2px 2px 3px #000, -3px 3px 3px #000, -4px 4px 3px #000, -5px 5px 3px #000, -6px 6px 3px #000, -7px 7px 3px #000, -8px 8px 3px #000, -9px 9px 3px #000, -10px 10px 3px #000;
}

/** PARTICIPANT **/

@keyframes sublineIntro {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, -15vh, 0);
        font-size: 8vh;
    }

    30% {
        opacity: 1;
        transform: translate3d(0, -15vh, 0);
        font-size: 8vh;
    }

    80% {
        transform: translate3d(0, -15vh, 0);
        font-size: 8vh;
    }

    100% {
        transform: none;
    }
}

.anim-video-delay {
    animation-delay: 0s;
}

.anim-video-delay-secondary {
    animation-delay: 1s;
}

.anim-video-delay-long .anim-video-delay {
    animation-delay: 2.5s;
}

.anim-video-delay-long .anim-video-delay-secondary {
    animation-delay: 3.5s;
}

.animation-subline-intro {
    animation-duration: 3s;
    animation-name: sublineIntro;
}

.animation-subline-intro.after-video {
    animation-delay: 1.5s;
}

.animation-subline-intro-after {
    animation-delay: 2.4s;
}

.animation-subline-intro-after.after-video {
    animation-delay: 3.9s;
}

.anim-video-delay-long .animation-subline-intro {
    animation-delay: 2.5s;
}

.anim-video-delay-long .animation-subline-intro.after-video {
    animation-delay: 4s;
}

.anim-video-delay-long .animation-subline-intro-after {
    animation-delay: 4.9s;
}

.anim-video-delay-long .animation-subline-intro-after.after-video {
    animation-delay: 6.4s;
}

.scores {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 4.5vw;
    transition: all 1s ease-in;
    perspective: 800px;
}

.scores.zoomOut {
    height: 0;
}

.box-scores.box-highlight {
    background: transparent;
    color: #FFF;
}

.scores li {
    background-color: #ebebff;
    color: #000;
    background-clip: padding-box;
    padding: 0.8vw;
    flex: 0 0 3.25ch;
    height: 5.3vw;
    border: 0.75vw solid transparent;
    transform-style: preserve-3d;
    transition: transform 600ms;
    position: relative;
}

.scores li.light {
    transform: rotateY(180deg);
}

.scores li figure {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ebebff;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scores li figure.front {
}

.scores li figure.back {
    transform: rotateY(180deg);
}

.scores.scores-count-7 {
    width: 80%;
    margin: 0 auto;
}

odometer {
    display: block;
    min-height: 20vh;
    font-size: 15vh;
}

/** PARTICIPANT LIST **/

.participant-list {
    display: flex;
    width: 84%;
    margin-left: 6%;
    flex-direction: column;
}

.list-subline {
    text-align: left;
}

.participant-row {
    display: flex;
    background-clip: padding-box;
    border: 0.5vw solid transparent;
    border-left: none;
}

.winner-row {
    visibility: hidden;
}

.winner-row-visible {
    visibility: visible;
    animation-duration: 3s;
    animation-name: zoomInDown;
}

.participant-row-main {
    display: flex;
    flex: 1;
}

.participant-row-column {
    border-left: 1vw solid transparent;
}

.participant-row-ignored-scores {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2vh;
    min-width: 8vw;
}

.participant-column-name {
    flex: 1;
    text-align: left;
}

.participant-column-score {
    flex: 0 0 10%;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 10vw;
    font-weight: bold;
}

.participant-list-name {
    font-size: 2.5vh;
    font-weight: bold;
}

.participant-list-slam {
    font-size: 1.5vh;
    font-family: Georgia, serif;
    text-transform: none;
}

.disable-ignored-scores .participant-second-total,
.disable-ignored-scores .participant-ignored-scores {
    display: none !important;
}

/** TODO we need a configuration option for the user to disable the second row in participant lists **/
.participant-list-name {
    font-size: 3.5vh;
    line-height: 4.5vh;
}

.participant-column-score {
    font-size: 3.5vh;
}

.participant-list-slam {
    display: none;
}