html, body {
    font-family: "Source Sans Pro Black", "Helvetica", serif;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.ng-hide-add:not(.hide-instant) {
    transition: 0.3s ease-in all;
}

.ng-leave:not(.remove-instant) {
    animation-name: fadeOut !important;
    animation-delay: 0.5s !important;
}

.ng-leave.remove-instant {
    display: none !important;
}

.screen-container {
    position: relative;
    width: 100vw;
    height: 75vw;
    background: url('/media/clips/bg.png') no-repeat;
    background-size: cover;
}

.fullscreen-video {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.fullscreen-video.ng-leave {
    transition: 0.1s ease-in all;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
}

.overlay-center {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transition: all 1s ease-in;
    color: #FFF;
}

.box {
    padding: 1%;
    box-sizing: border-box;
    text-transform: uppercase;
    opacity: 0.8;
    background-clip: padding-box;
}

.box-highlight {
    background-color: #E65559;
}

.box-grey {
    background-color: #EBEBEB;
    color: #444;
}

.box-ignored {
    background-color: #EBEBEB;
    color: #444;
    opacity: 0.4;
}

.overlay-highlight {
    width: 100%;
    font-size: 10vw;
    font-weight: bold;
    min-height: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay-subline {
    margin-top: 0.5vw;
    font-size: 3.5vw;
}

/** PARTICIPANT **/

.anim-video-delay {
    animation-delay: 2s;
}

@keyframes sublineIntro {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, -15vh, 0);
        font-size: 10vw;
    }

    30% {
        opacity: 1;
        transform: translate3d(0, -15vh, 0);
        font-size: 10vw;
    }

    80% {
        transform: translate3d(0, -15vh, 0);
        font-size: 10vw;
    }

    100% {
        transform: none;
    }
}

.animation-subline-intro {
    animation-duration: 3s;
    animation-name: sublineIntro;
    animation-delay: 1.5s;
}

.animation-subline-intro-after {
    animation-delay: 3.9s;
}

.scores {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 3.5vw;
    transition: all 1s ease-in;
}

.scores.zoomOut {
    height: 0;
}

.scores li {
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    padding: 1vw;
    flex: 1;
    border: 0.75vw solid transparent;
}

.scores li.light {
    opacity: 0.5;
}

/** PARTICIPANT LIST **/

.participant-list {
    display: flex;
    width: 84%;
    margin-left: 6%;
    flex-direction: column;
}

.list-subline {
    text-align: left;
}

.participant-row {
    display: flex;
    background-clip: padding-box;
    border: 0.5vw solid transparent;
    border-left: none;
}

.participant-row-main {
    display: flex;
    flex: 1;
}

.participant-row-column {
    border-left: 1vw solid transparent;
}

.participant-row-ignored-scores {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.3vw;
    min-width: 8vw;
}

.participant-column-name {
    flex: 1;
    text-align: left;
}

.participant-column-score {
    flex: 0 0 10%;
    font-size: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10vw;
}

.participant-list-name {
    font-size: 3vw;
}

.participant-list-slam {
    font-size: 2vw;
}