<div class="video-overlay">
    <div class="overlay-center">
        <div class="participant-list animated fadeIn" style="animation-delay: 2s">
            <rating-participant ng-repeat="participant in presentation.winnerList track by $index"
                                class="participant-row animated winner-row"
                                ng-class="{'winner-row-visible': isWinnerRowVisible($index)}"></rating-participant>
            <div class="overlay-subline list-subline animated fadeIn" style="animation-delay: 2s">
                Ergebnisse {{presentation.competitionName}}
            </div>
        </div>
    </div>
</div>