<div class="video-overlay">
    <div class="overlay-center" ng-switch="presentation.phase">
        <div class="participant-list remove-instant hide-instant" ng-switch-default>
            <rating-participant ng-repeat="participant in presentation.resultList track by $index"
                                class="participant-row animated fadeInLeft"
                                style="animation-delay: {{($index * 0.5) + 2.5}}s"></rating-participant>
            <div class="overlay-subline list-subline animated fadeIn"
                 style="animation-delay: {{(presentation.resultList.length * 0.5) + 3}}s">
                Zwischenstand {{presentation.groupName}}
            </div>
        </div>
        <div class="participant-list animated fadeInLeftBig remove-instant hide-instant" ng-switch-when="winners"
             style="animation-delay: 2s">
            <rating-participant ng-repeat="participant in presentation.resultList track by $index"
                                class="participant-row animated winner-row"
                                ng-class="{'winner-row-visible': (presentation.resultList.length - $index) <= presentation.winnersToShow}"></rating-participant>
            <div class="overlay-subline list-subline animated fadeIn" style="animation-delay: 2s">
                Ergebnisse {{presentation.groupName}}
            </div>
        </div>
    </div>
</div>