<div class="video-overlay">
    <div class="overlay-center remove-instant" ng-if="presentation.phase == 'name'">
        <div class="overlay-highlight box box-highlight animated fadeInLeftBig animation-subline-intro-after"
             ng-class="{'after-video': presentation.videoPlays}">
            {{presentation.participant.name}}
        </div>
        <div class="overlay-subline animated animation-subline-intro"
             ng-class="{'after-video': presentation.videoPlays}">{{presentation.participant.slam}}
        </div>
    </div>
    <div class="overlay-center animated fadeInLeftBig remove-instant"
         ng-class="{'anim-video-delay': presentation.videoPlays}"
         ng-if="presentation.phase == 'rating' || presentation.phase == 'total' || presentation.phase == 'ratingFinal'">
        <div class="overlay-highlight box box-highlight">
            <ul class="scores animated" ng-class="{'zoomOut': presentation.phase == 'total'}">
                <li class="animated" ng-repeat="score in presentation.scores track by $index"
                    ng-class="{'light': score.value === '', 'hinge': score.ignored && presentation.phase == 'ratingFinal'}">
                    {{score.value ? (score.value | number: 1) : '?'}}
                </li>
            </ul>
            <div class="animated fadeIn remove-instant" ng-if="presentation.phase == 'total'">
                <odometer value="presentation.totalScore"></odometer>
            </div>
        </div>
        <div class="overlay-subline">Wertung für {{presentation.participant.name}}
        </div>
    </div>
</div>