<div class="box participant-row-main"
     ng-class="{'box-highlight': participant.state == 'highlight', 'box-ignored': participant.state == 'ignored', 'box-grey': !participant.state}">
    <div class="participant-column-name">
        <div class="participant-list-name">{{participant.name}}</div>
        <div class="participant-list-slam">{{participant.slam}}</div>
    </div>
    <div class="participant-column-score">
        {{participant.totalScore | number: 1}}
    </div>
</div>
<div class="box box-grey participant-row-ignored-scores participant-row-column"
     ng-class="{'invisible': !participant.showIgnoredScores}">
    <div ng-repeat="score in participant.ignoredScores">{{score.value | number: 1}}</div>
</div>
<div class="box box-grey participant-column-score participant-row-column"
     ng-class="{'invisible': !participant.showIgnoredScores}">
    {{participant.secondTotalScore | number: 1}}
</div>
<div class="box box-highlight participant-column-score participant-row-column"
     ng-class="{'invisible': !participant.showIgnoredScores || !participant.extraScore}">
    +{{participant.extraScore | number: 1}}
</div>