<div class="clr-col bg-primary" *ngIf="poet">
    <form class="clr-form clr-form-compact" (ngSubmit)="onSubmit()">
        <div class="clr-form-control">
            <label for="poet_name" class="clr-control-label">name</label>
            <div class="clr-control-container">
                <div class="clr-input-wrapper">
                    <input type="text" id="poet_name" placeholder="Placeholder" class="clr-input" [ngModelOptions]="{standalone: true}" [(ngModel)]="poet.name" />
                </div>
            </div>
        </div>

        <div class="clr-form-control">
            <label for="poet_slam" class="clr-control-label">slam</label>
            <div class="clr-control-container">
                <div class="clr-input-wrapper">
                    <input type="text" id="poet_slam" placeholder="Placeholder" class="clr-input" [ngModelOptions]="{standalone: true}" [(ngModel)]="poet.slam" />
                </div>
            </div>
        </div>

        <div class="submit-container">
            <button type="submit" class="btn btn-sm btn-primary">save</button>
        </div>
    </form>
</div>