<div class="projection-container animate__animated"
    [ngClass]="{ 'animate__slideInLeft animate__fadeIn': show, 'animate__slideOutLeft animate__fadeOut': show == false }">

    <div class="projection-container-content" *ngIf="poet != undefined && config != undefined">
        <div class="projection-poet-name ad-1" [ngClass]="{ 'slideIn': show, 'adl-3': show, 'slideOut': show == false }"
            [ngStyle]="{'color': config.textColor1, 'background-color': config.backgroundColor1 }">{{ poet.name }}</div>
        <div class="projection-poet-slam ad-3"
            [ngClass]="{ 'slideInDown': show, 'slideOut': show == false, 'adl-1': show == false }"
            [ngStyle]="{'color': config.textColor2, 'background-color': config.backgroundColor2 }">{{ poet.slam }}</div>
    </div>
</div>