/* You can add global styles to this file, and also import other style files */

@import "./../node_modules/@clr/icons/clr-icons.css";

body[cds-theme="dark"] {
    @import "./../node_modules/@clr/ui/src/dark-theme.scss";
}
@import "./../node_modules/@clr/ui/src/main.scss";



.p-0 {
    padding: 0 !important;
}
.p-1 {
    padding: .25rem !important;
}
.p-2 {
    padding: .5rem !important;
}
.p-3 {
    padding: 1rem !important;
}
.p-4 {
    padding: 1.5rem !important;
}
.p-5 {
    padding: 3rem !important;
}

body {
    background-color: #000 !important;
}