html, body {
    margin: 0;
    padding: 0;
}

/* Sidenav area */
.sidebar-logo {
    width: 80%;
    max-width: 120px;
    margin: 2rem auto 1rem;
    display: block;
}

sidenav-entry {
    display: flex;
    flex-direction: column;
}

.site-sidenav {
    position: relative;
    width: 400px;
}

.sidenav-sublevel {
    padding-left: 1.5rem;
}

.sidenav-menu {
    margin-bottom: 302px;
    overflow-x: hidden;
    overflow-y: auto;
}

.preview-frame {
    border: 1px solid #EBEBEB;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 400px;
    height: 300px;
}

/* Primary content area */
.content-container {
    padding: 2rem;
}

.admin-section {
    margin-bottom: 2rem;
}

/* Other?! */

.md-button.contact {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    margin: 8px auto 16px 0;
    position: absolute;
    top: 10px;
    right: 40px;
}

md-icon.avatar {
    margin-top: 10px;
}

.md-button.contact > md-icon {
    fill:black;
    width:36px;
    height:36px;
}

.md-button.contact:active > md-icon {
    background-color: #dadada;
    border-radius: 75%;
    padding:4px;
    transition: all 100ms ease-out 30ms;
}


/* Utils */

.text-left {
    text-align: left;
}

/* Typography support coming in 0.8.0 */

.avatar {
    position:relative;
    width: 54px;
    height: 54px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;

}


md-bottom-sheet  md-icon {
    margin-right:20px;
}

span.name {
    font-weight: bold;
    font-size:1.1em;
    padding-left:5px;
}

.edit-dialog {
    min-width: 480px;
    padding: 16px;
}

.edit-dialog md-input-container {
    width: 100%;
}

/* Other?! */

md-list-item > button {
    width: 100%;
    text-align: left !important;
    height: 70px;;
}

md-icon.avatar {
    margin-right: 20px;
}

md-list .md-button.selected {
    color: #03a9f4;
}

button#main {
    margin-bottom: 10px;
}

md-sidenav > md-toolbar {
    height: 64px;
}

md-list-item {
    overflow: hidden;
}