<md-dialog>
    <md-dialog-content class="edit-dialog">
        <h3>Wettbewerb bearbeiten</h3>
        <div>
        <md-input-container>
            <input placeholder="Name" ng-model="data.name" md-auto-focus>
        </md-input-container>
        </div>
        <div>
        <md-input-container>
            <input type="number" placeholder="Anzahl Juroren" ng-model="data.jurors">
        </md-input-container>
        </div>
        <div>
            <md-input-container>
                <input type="number" placeholder="Anzahl Gewinner" ng-model="data.winners">
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="save()" class="md-primary">Speichern</md-button>
    </md-dialog-actions>
</md-dialog>
