<md-dialog>
    <md-dialog-content class="edit-dialog">
        <h3>Poet bearbeiten</h3>
        <div>
            <md-input-container>
                <input placeholder="Name" ng-model="data.name" md-auto-focus>
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <input placeholder="Zusatz / Slam" ng-model="data.slam">
            </md-input-container>
        </div>
        <div>
            <md-radio-group ng-model="data.gender">
                <md-radio-button value="w" class="md-primary">weiblich</md-radio-button>
                <md-radio-button value="m" class="md-primary">männlich</md-radio-button>
            </md-radio-group>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="save()" class="md-primary">Speichern</md-button>
    </md-dialog-actions>
</md-dialog>
