<md-dialog ng-controller="ParticipantAssignCtrl">
    <md-dialog-content class="edit-dialog">
        <h3>Poet zuordnen</h3>
        <div>
            <md-autocomplete
                    md-selected-item="participant"
                    md-items="item in filterParticipants(searchText)"
                    md-item-text="item.name +' - '+ item.subtitle"
                    md-search-text="searchText"
                    md-min-length="0"
                    placeholder="Poetname">
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}} - {{item.subtitle}}</span>
                </md-item-template>
                <md-not-found>
                    Keine Teilnehmer mit diesem Namen
                </md-not-found>
            </md-autocomplete>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="save(participant)" class="md-primary">Speichern</md-button>
    </md-dialog-actions>
</md-dialog>
