<div class="clr-row">
    <div class="clr-col">

        <table class="table">
            <thead>
                <tr>
                    <th style="text-align: left;">name</th>
                    <th style="text-align: left;">count jury</th>
                    <th style="text-align: left;">count winners</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="rounds.length == 0">
                    <td colspan="3" class="p-5">
                        no rounds found - create some
                    </td>
                </tr>

                <tr class="tr-input" *ngFor="let round of rounds">
                    <td><input type="text" [(ngModel)]="round.name" placeholder="round name"></td>
                    <td><input type="text" [(ngModel)]="round.countJury" placeholder="count jury"></td>
                    <td><input type="text" [(ngModel)]="round.countWinners" placeholder="count winners"></td>
                    <td>
                        <button (click)="remove(round)" class="btn btn-sm btn-link btn-icon">
                            <cds-icon shape="trash"></cds-icon>
                        </button>
                    </td>
                </tr>


                <tr class="tr-input">
                    <td colspan="3">
                        <button (click)="add()" class="btn btn-sm btn-primary">add new round</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>