<section layout="row" flex>
    <md-content flex layout-padding>
      <md-list ng-cloak>
        <md-list-item
            ng-repeat="competition in event.competitions"
            ng-class="{selected: competitionIsSelected(competition)}"
            ng-click="selectCompetition(competition)">
          <p>{{competition.name}}</p>
        </md-list-item>
      </md-list>
    </md-content>
    <md-sidenav
        class="md-sidenav-right"
        md-component-id="competitionsSidenav"
        md-is-locked-open="true"
        md-whiteframe="4">
      <md-content layout-padding>
        <md-button ng-disabled="!event.view.competitionId" ng-click="reset()">Zurücksetzen</md-button>
        <md-button ng-disabled="!event.view.competitionId" ng-click="setScreen('intro')">1. Wettbewerb ankündigen</md-button>
      </md-content>
    </md-sidenav>
</section>
