<section class="md-whiteframe-z2 admin-section">
    <md-toolbar class="md-secondary">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding">Präsentation</h3>
        </div>
    </md-toolbar>

    <md-content class="md-padding">
        <div layout="row">
            <md-input-container style="width:200px;">
                <label>1. Wettbewerb auswählen</label>
                <md-select ng-model="event.view.competitionId" ng-change="updatePresentation()"
                           ng-disabled="event.view.competitionId">
                    <md-option ng-repeat="competition in event.competitions" value="{{competition.id}}">
                        {{competition.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-button ng-show="event.view.competitionId" ng-click="reset()">Zurücksetzen</md-button>
        </div>
        <div ng-show="event.view.competitionId">
            <md-button ng-click="setScreen('intro')">1. Wettbewerb ankündigen</md-button>
            <br>
            <md-button ng-click="setVideo('pause')">2. Pause-Screen</md-button>
        </div>

        <hr>

        <div ng-show="event.view.competitionId">
            <div layout="row">
                <md-input-container style="width:200px;">
                    <label>2. Gruppe auswählen</label>
                    <md-select ng-model="event.view.groupId" ng-change="updatePresentation()"
                               ng-disabled="event.view.groupId">
                        <md-option
                                ng-repeat="group in getCompetition().groups"
                                value="{{group.id}}">
                            Gruppe {{$index + 1}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-button ng-show="event.view.groupId" ng-click="resetGroup()">Zurücksetzen</md-button>
            </div>
        </div>
        <div ng-show="event.view.groupId">
            <md-button ng-click="setScreen('group')">1. Gruppe ankündigen</md-button>
            <br>
            <md-button ng-click="setVideo('pause')">2. Pause-Screen</md-button>
        </div>

        <hr>

        <div ng-show="event.view.groupId">
            <md-input-container>
                <label>3. Teilnehmer auswählen</label>
                <md-select ng-model="event.view.participantId" style="width:200px;">
                    <md-option
                            ng-repeat="participant in getGroup().participants"
                            value="{{participant.id}}">
                        {{ (participant.id | participantOfId).name }}, {{ (participant.id | participantOfId).slam }}
                    </md-option>
                </md-select>
            </md-input-container>

            <div ng-show="event.view.participantId">
                <md-button ng-click="setScreen('participant', 'name')" ng-class="{'md-primary': event.view.screen != 'participant'}">1. Poet anzeigen</md-button>
                <br>
                <md-button ng-click="setScreen('participant', 'rating')" ng-class="{'md-primary': event.view.phase == 'name'}">2. Wertungen anzeigen</md-button>
                <br>
                <md-button ng-click="setScreen('participant', 'ratingFinal')" ng-class="{'md-primary': event.view.phase == 'rating'}">3. höchste / niedrigste Wertung
                    streichen
                </md-button>
                <br>
                <md-button ng-click="setScreen('participant', 'total')" ng-class="{'md-primary': event.view.phase == 'ratingFinal'}">4. Wertungssumme anzeigen</md-button>
                <br>
                <md-button ng-click="setScreen('groupRatings')" ng-class="{'md-primary': event.view.phase == 'total'}">5. Zwischenstand der Gruppe anzeigen</md-button>
                <br>
                <md-button ng-click="setVideo('pause')" ng-class="{'md-primary': event.view.screen == 'groupRatings' && !event.view.phase}">6. Pause-Screen anzeigen</md-button>

                <div ng-show="event.view.screen == 'participant' && event.view.phase != 'name'">
                    <p>Wertungen</p>
                    <md-input-container ng-repeat="score in getScores()">
                        <label>Wertung {{$index+1}}</label>
                        <input ng-model="score.value" ng-blur="updatePresentation()">
                    </md-input-container>
                </div>
            </div>
            <hr>
            <div>
                <p><small style="color:rgba(0,0,0,0.54)">4. Wenn alle Teilnehmer bewertet wurden:</small></p>
                <md-button ng-click="setScreen('groupRatings', 'winners')">1. Gewinner der Gruppe anzeigen</md-button><br>
                <md-button ng-click="setVideo('pause')">2. Pause-Screen</md-button><br>
                <p style="padding-left:13px;">3. Gruppe zurücksetzen, falls noch nicht am Ende des Wettbewerbs (siehe oben)</p>
            </div>
        </div>
        <div ng-show="event.view.competitionId">
            <hr>
            <p><small style="color:rgba(0,0,0,0.54)">5. Am Ende des Wettbewerbs:</small></p>
            <md-button ng-click="setScreen('competitionRatings')">Gewinner des Wettbewerbs anzeigen</md-button>
        </div>
    </md-content>
</section>