<section class="md-whiteframe-z2 admin-section">
    <md-toolbar class="md-secondary">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding">Präsentation</h3>
            <span flex></span>
            <md-button class="md-raised md-warn" ng-hide="!event.bgVideos.pause || event.view.bgVideo === 'pause'"
                       ng-click="playBgVideo('pause')">Pause</md-button>
        </div>
    </md-toolbar>

    <md-content>
        <md-tabs md-selected="selectedTabIndex" md-dynamic-height md-border-bottom>
            <md-tab label="Wettbewerb">
                <competitions-tab></competitions-tab>
            </md-tab>
            <md-tab label="Gruppe">
                <groups-tab></groups-tab>
            </md-tab>
            <md-tab label="Teilnehmer">
                <participants-tab></participants-tab>
            </md-tab>
            <md-tab label="Ergebnis">
                <results-tab></results-tab>
            </md-tab>
            <md-tab label="Ende">
                <end-tab></end-tab>
            </md-tab>
        </md-tabs>
    </md-content>
</section>

<media-panel readonly="true"></media-panel>

<offer-presentation-window></offer-presentation-window>