.splashScreen {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #17242b;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    .loader {
        margin-top: calc(50vh - 250px);
        width: 250px;
        height: 250px;
        position: relative;

        img {
            position: relative;
            margin-top: 5%;
            margin-left: 5%;
            width: 90%;
            height: 90%;
            z-index: 1001;
        }
    }

    .console {
        margin-top: 50px;
        width: 20vw;
        height: calc(50vh - 50px);
        overflow: hidden;
        text-align: center;

        .console-fade {
            position: absolute;
            bottom: 0;
            width: 20vw;

            height: 25vh;
        }
    }
}
