.projection-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}