<section class="md-whiteframe-z2 admin-section">
    <md-toolbar class="md-secondary">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding">Status</h3>
        </div>
    </md-toolbar>

    <md-content class="md-padding">
        <p>Offline-Verfügbarkeit</p>
        <md-button class="md-secondary" ng-disabled="!appCache.offerReload"
                   ng-class="{'md-primary': appCache.offerReload, 'md-raised': appCache.offerReload}"
                   ng-click="reload()">
            {{appCache.status}}
        </md-button>
        <p>Version</p>
        <md-button class="md-secondary" ng-disabled>{{appCache.version}}</md-button>
    </md-content>
</section>
<section class="md-whiteframe-z2 admin-section" style="margin-top:1rem;">
    <md-toolbar class="md-secondary">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding">Über</h3>
        </div>
    </md-toolbar>

    <md-content class="md-padding">
        <p>Erstellt von <a href="http://codefor.de/heilbronn">Code for Heilbronn</a></p>
        <p>Mitwirkende:</p>
        <ul>
            <li>Jonathan Günz</li>
            <li>Lukas Himsel</li>
            <li>Adrian Stabiszewski</li>
            <li>Felix Ebert</li>
        </ul>
    </md-content>
</section>