<section layout="row" flex>
    <md-content flex layout-padding>
      <md-list ng-cloak>
        <md-list-item
            ng-repeat="group in getCompetition().groups"
            ng-class="{selected: groupIsSelected(group)}"
            ng-click="selectGroup(group)">
          <p>{{group.name}}</p>
        </md-list-item>
      </md-list>
    </md-content>
    <md-sidenav
        class="md-sidenav-right"
        md-component-id="groupsSidenav"
        md-is-locked-open="true"
        md-whiteframe="4">
      <md-content layout-padding>
        <md-button ng-disabled="!event.view.groupId" ng-click="resetGroup()">Zurücksetzen</md-button>
        <md-button ng-disabled="!event.view.groupId" ng-click="setScreen('group')">1. Gruppe ankündigen</md-button>
      </md-content>
    </md-sidenav>
</section>
