<section class="md-whiteframe-z2 admin-section">
    <md-toolbar class="md-secondary">
        <div class="md-toolbar-tools">
            <span class="ng-binding">Einblendungen</span>
            <span flex></span>
            <md-button ng-click="openFile()" ng-if="readonly != true">
                upload file
            </md-button>
        </div>
    </md-toolbar>

    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Text">
                <section layout="row" flex>
                    <md-content flex layout-padding>
                        <div style="max-width:400px;">
                            <md-input-container class="md-block">
                                <label>Erste Zeile</label>
                                <input ng-model="event.view.customText">
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Zweite Zeile</label>
                                <input ng-model="event.view.customTextSubline">
                            </md-input-container>
                        </div>
                    </md-content>
                    <md-sidenav
                            class="md-sidenav-right"
                            md-component-id="groupsSidenav"
                            md-is-locked-open="true"
                            md-whiteframe="4">
                        <md-content layout-padding>
                            <md-button ng-disabled="!event.view.customText" ng-click="setScreen('customText')">
                                Anzeigen
                            </md-button>
                        </md-content>
                    </md-sidenav>
                </section>
            </md-tab>
            <md-tab label="Videos">
                <section layout="row" flex>
                    <md-content flex layout="row" layout-wrap layout-padding layout-align="start start"
                                style="margin: -1rem;">
                        <div ng-repeat="video in event.videos track by $index" style="padding: 1rem">
                            <div class="md-whiteframe-z2 video-preview-container"
                                 ng-class="{selected: selected.video === video}">
                                <dynamic-video video-id="video.id" ng-click="selected.video = video"
                                               class="clickable video-preview-dimensions"></dynamic-video>
                                <div style="padding:0.5rem;">{{ video.name }}</div>
                            </div>
                        </div>
                    </md-content>
                    <md-sidenav
                            class="md-sidenav-right"
                            md-component-id="groupsSidenav"
                            md-is-locked-open="true"
                            md-whiteframe="4">
                        <md-content layout-padding>
                            <md-button aria-label="Pause"
                                       ng-disabled="!event.bgVideos.pause || event.view.bgVideo === 'pause'"
                                       ng-click="playBgVideo('pause')">
                                Zu Pause-Screen wechseln
                            </md-button>
                            <md-button ng-disabled="!selected.video" aria-label="Play"
                                       ng-click="playClip(selected.video)">
                                <md-icon md-svg-icon="av:play_arrow"></md-icon>
                                Video abspielen
                            </md-button>
                            <md-button ng-disabled="!event.view.video" aria-label="Stop"
                                       ng-click="stopClip()">
                                <md-icon md-svg-icon="av:stop"></md-icon>
                                Video stoppen
                            </md-button>
                        </md-content>
                    </md-sidenav>
                </section>
            </md-tab>
            <md-tab label="Audios">
                <md-content class="md-padding">
                    <audio controls id="media-audio"></audio>

                    <md-button ng-click="stopSound($event)" aria-label="Stop">
                        <md-icon md-svg-icon="av:stop"></md-icon>
                    </md-button>
                    <md-progress-linear id="progress-bar" md-mode="determinate"
                                        value="{{determinateValue}}"></md-progress-linear>

                    <md-list flex>
                        <md-list-item class="md-3-line" ng-repeat="audio in event.sounds track by $index"
                                      ng-click="null">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ audio.name }}</h3>
                            </div>
                            <md-button class="md-secondary" ng-click="playSound($event, audio)">PLAY</md-button>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</section>