<section class="md-whiteframe-z2 admin-section">
    <md-toolbar class="md-secondary">
        <div class="md-toolbar-tools">
            <span class="ng-binding">Offlinefiles</span>
            <span flex></span>
            <md-button ng-click="openFile()">
                upload file
            </md-button>
        </div>
    </md-toolbar>

    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Videos">
                <md-content class="md-padding" layout="row">
                    <md-list flex>
                        <md-list-item class="md-3-line" ng-repeat="video in videos">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ video.name }}</h3>
                            </div>
                            <md-button class="md-secondary" ng-click="openPreview($event, video)">Preview</md-button>
                        </md-list-item>
                    </md-list>
                    <div layout="column" flex="30" ng-if="selectedVideo">
                        <div>
                            <md-button aria-label="Schließen" ng-click="closePreview($event)">schliesen</md-button>
                        </div>
                        <video flex controls file="selectedVideo" style="max-height:200px"></video>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Audios">
                <md-content class="md-padding">

                    <audio controls id="media-audio"></audio>
                    <div layout="row" layout-wrap>
                        <div ng-repeat="file in soundFileList track by $index">
                            <div flex="33">
                                <md-button ng-class="{\'md-raised\':file.active == true}" ng-click="toggle($index)">{{soundFileList[$index].name}}</md-button>
                            </div>
                        </div>
                    </div>
                    <md-button ng-click="stop()">
                        <md-icon md-svg-icon="av:stop"></md-icon>
                    </md-button>
                    <md-progress-linear id="progress-bar" md-mode="determinate" value="{{determinateValue}}"></md-progress-linear>
                    <md-button ng-click="log()">sadfsadfsadf</md-button>





                    <md-list flex>
                        <md-list-item class="md-3-line" ng-repeat="audio in audios" ng-click="null">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ audio.name }}</h3>
                            </div>
                            <md-button class="md-secondary" ng-click="playAudio($event, audio)">PLAY</md-button>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</section>