<div class="md-whiteframe-z2">
    <md-toolbar class="md-secondary">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding">Poeten</h3>
            <span flex></span>

            <md-button class="md-primary" ng-click="addEntry()">hinzufügen</md-button>
        </div>
    </md-toolbar>

    <md-list>
        <md-subheader ng-show="entries" class="md-no-sticky">{{entries.length}}
            <ng-pluralize count="entries.length" when="{1: 'Poet', 'other' :'Poeten'}"></ng-pluralize>
        </md-subheader>

        <md-list-item class="md-2-line md-no-proxy" ng-repeat="entry in entries">
            <div class="md-list-item-text">
                <h3>{{ entry.name }} <span ng-show="entry.gender">({{entry.gender}})</span></h3>
                <p>{{ entry.slam}}</p>
            </div>

            <div class="md-secondary">
                <md-button class="md-icon-button" aria-label="Löschen"
                           ng-click="deleteEntry(entry)">
                    <md-icon md-svg-icon="action:delete"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="Bearbeiten"
                           ng-click="editEntry(entry)">
                    <md-icon md-svg-icon="image:edit"></md-icon>
                </md-button>
            </div>
        </md-list-item>
    </md-list>
</div>