<section layout="row" flex>
    <md-content flex layout-padding>
      <table>
        <tr>
          <th>Poet</th>
          <th>Punkte</th>
          <th>Bonus</th>
        </tr>
        <tr ng-repeat="groupParticipant in getGroup().participants" ng-controller="resultsParticipantsCtrl">
          <td>{{participant.name}}</td>
          <td>{{groupParticipant.secondTotalScore}}</td>
          <td>
            <md-input-container style="width: 20px;">
              <input ng-model="groupParticipant.extraScore">
            </md-input-container>
          </td>
        </tr>
      </table>
    </md-content>
    <md-sidenav
        class="md-sidenav-right"
        md-component-id="resultsSidenav"
        md-is-locked-open="true"
        md-whiteframe="4">
      <md-content layout-padding>
        <md-button ng-click="showGroupWinners()">1. Ergebnisse der Gruppe anzeigen</md-button>
        <md-button ng-click="increaseWinnerCount()">2. Nächsten Poet anzeigen</md-button>
        <md-button ng-click="">3. Nächste Gruppe</md-button>
      </md-content>
    </md-sidenav>
</section>
