<section layout="row" flex>
    <md-content flex layout-padding>
      <table>
        <tr>
            <th style="padding:0 2rem 0 0;text-align:left;">Poet</th>
            <th style="padding:0 2rem 0 0;text-align:left;">Punkte</th>
            <th style="padding:0 2rem 0 0;text-align:left;">Bonus</th>
        </tr>
        <tr ng-repeat="groupParticipant in getGroup().participants" ng-controller="resultsParticipantsCtrl">
            <td style="padding-right:2rem">{{participant.name}}</td>
            <td style="padding-right:2rem">{{groupParticipant.secondTotalScore}}</td>
          <td>
              <md-input-container style="width: 100px;margin:1.5rem 0 0 0;">
                  <label>Bonus-Punkte</label>
                <input ng-model="groupParticipant.extraScore" aria-label="Extra-Punkte">
            </md-input-container>
          </td>
        </tr>
      </table>
    </md-content>
    <md-sidenav
        class="md-sidenav-right"
        md-component-id="resultsSidenav"
        md-is-locked-open="true"
        md-whiteframe="4">
      <md-content layout-padding>
        <md-button ng-click="showGroupWinners()">1. Ergebnisse der Gruppe anzeigen</md-button>
        <md-button ng-click="increaseWinnerCount()">2. Nächsten Poet anzeigen</md-button>
        <md-button ng-click="">3. Nächste Gruppe</md-button>
      </md-content>
    </md-sidenav>
</section>
