<section class="md-whiteframe-z2">
    <md-toolbar class="md-secondary">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding">Sounds</h3>
            <span flex></span>
            <md-button ng-click="addSounds()" class="md-accent">hinzufügen</md-button>
        </div>
    </md-toolbar>

    <md-content class="md-padding">
        <md-list ng-sortable>
            <md-list-item ng-repeat="sound in event.sounds">
                <p>{{ sound.name }} <small class="shortcut-info" ng-show="$index <= 8">[Strg + {{$index + 1}}] </small></p>
            </md-list-item>
        </md-list>
    </md-content>
</section>

<p>

</p>

<p>
    <small>Die Reihenfolge und damit auch die Shortcuts kannst du mit Drag & Drop ändern. Shortcut für Stop: <span class="shortcut-info">[Strg + S]</span></small>
</p>
