<section class="md-whiteframe-z2">
    <md-toolbar class="md-secondary">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding">Einspielvideos</h3>
            <span flex></span>
            <md-button ng-click="addVideos()" class="md-accent">hinzufügen</md-button>
        </div>
    </md-toolbar>

    <md-content class="md-padding">
        <div layout="row" layout-wrap layout-padding layout-align="start start" style="margin: -1rem;">
            <div ng-repeat="video in event.videos track by $index" style="padding: 1rem">
                <div class="md-whiteframe-z2 video-preview-container">
                    <dynamic-video video-id="video.id" ng-click="playPause(video)"
                                   class="clickable video-preview-dimensions"></dynamic-video>
                    <div layout="row" layout-align="start center" layout-fill>
                        <div style="padding: 0 1em">{{ video.name }}</div>
                        <div flex></div>
                        <div>
                            <md-button class="md-icon-button" aria-label="Löschen" ng-click="deleteVideo(video)">
                                <md-icon md-svg-icon="action:delete"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
</section>

<section class="md-whiteframe-z2" style="margin-top:2rem;">
    <md-toolbar class="md-secondary">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding">Hintergrundvideos</h3>
        </div>
    </md-toolbar>

    <md-content class="md-padding">
        <div layout="row" layout-align="start start" style="margin: -1rem;">
            <div style="padding: 1rem" flex="50">
                <p style="margin-top: 0;">Hintergrund zu Pause</p>
                <dynamic-video ng-show="event.bgVideos.pause" video-id="event.bgVideos.pause.id"
                               ng-click="playPause(event.bgVideos.pause)"
                               class="clickable video-preview-dimensions"></dynamic-video>
                <md-button ng-click="selectBgVideo('pause')" class="md-primary md-raised" style="margin-left:0;">Datei
                    auswählen
                </md-button>
            </div>
            <div style="padding: 1rem" flex="50">
                <p style="margin-top: 0;">Pause zu Hintergrund</p>
                <dynamic-video ng-show="event.bgVideos.bg" video-id="event.bgVideos.bg.id"
                               ng-click="playPause(event.bgVideos.bg)"
                               class="clickable video-preview-dimensions"></dynamic-video>
                <md-button ng-click="selectBgVideo('bg')" class="md-primary md-raised" style="margin-left:0;">Datei
                    auswählen
                </md-button>
            </div>
        </div>
    </md-content>
</section>