<video class="fullscreen-video" autoplay>
    <source src="/media/clips/bg.mp4" type="video/mp4">
</video>
<div class="video-overlay">
    <div class="overlay-center anim-participant animated fadeInLeftBig">
        <div class="participant-list">
            <div class="participant-row box-highlight" ng-repeat="participant in event.participants track by $index">
                <div class="participant-column-name">
                    <div class="participant-list-name">{{participant.name}}</div>
                    <div class="participant-list-slam">{{participant.slam}}</div>
                </div>
                <div class="participant-column-score">
                    {{participant.totalScore}}
                </div>
            </div>
        </div>
    </div>
</div>