<video class="fullscreen-video" autoplay>
    <source src="/media/clips/bg.mp4" type="video/mp4">
</video>
<div class="video-overlay" ng-switch="event.phase">
    <div class="overlay-center anim-participant animated fadeInLeftBig" ng-switch-when="name">
        <div class="overlay-highlight">{{event.participant.name}}</div>
        <div class="overlay-subline">{{event.participant.slam}}</div>
    </div>
    <div class="overlay-center anim-participant animated fadeInLeftBig" ng-switch-when="rating">
        <div class="overlay-highlight">
            <ul class="scores">
                <li class="animated" ng-repeat="score in event.scores track by $index"
                    ng-class="{'light': score.value == '?', 'hinge': score.ignored}">
                    {{score.value}}
                </li>
            </ul>
        </div>
        <div class="overlay-subline">Wertung für {{event.participant.name}}</div>
    </div>
</div>