<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/"/>
    <meta charset="UTF-8">
    <title>Poetry Slam Admin</title>
    <link rel="stylesheet" href="fonts/SourceSansPro-Black.css"/>
    <link rel="stylesheet" href="fonts/SourceSansPro-Light.css"/>
    <!-- build:css admin.min.css -->
    <link rel="stylesheet" href="components/angular-material/angular-material.css">
    <link rel="stylesheet" href="modules/admin/admin.css">
    <!-- endbuild -->

    <!-- build:js admin.min.js -->
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-aria/angular-aria.js"></script>
    <script src="components/angular-animate/angular-animate.js"></script>
    <script src="components/angular-material/angular-material.js"></script>
    <script src="components/angular-route/angular-route.js"></script>
    <script src="components/Sortable/Sortable.js"></script>
    <script src="components/Sortable/ng-sortable.js"></script>
    <script src="modules/admin/ps.admin.js"></script>
    <script src="modules/admin/routes.js"></script>
    <script src="modules/admin/DialogService.js"></script>
    <script src="modules/admin/EntityUtils.js"></script>
    <script src="modules/admin/entryOfIdFilter.js"></script>
    <script src="modules/admin/participantOfIdFilter.js"></script>
    <script src="modules/admin/SimpleListCtrl.js"></script>
    <script src="modules/admin/GroupParticipantsCtrl.js"></script>
    <script src="modules/admin/PresentationService.js"></script>
    <script src="modules/admin/PresentationCtrl.js"></script>
    <script src="modules/admin/sidenavEntryDirective.js"></script>
    <script src="modules/admin/updatePresentation.js"></script>
    <script src="modules/sync/ps.sync.js"></script>
    <script src="modules/sync/SyncService.js"></script>
    <!-- endbuild -->
</head>
<body layout="row" ng-app="psadmin">
<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">
    <img src="/media/logo/logo-compact.png" class="sidebar-logo"/>

    <md-content class="sidenav-menu">
        <sidenav-entry path="'/presentation'" label="'Präsentation'"></sidenav-entry>
        <sidenav-entry path="'/participants'" label="'Poeten'"></sidenav-entry>
        <sidenav-entry path="'/competitions'" label="'Wettbewerbe'"></sidenav-entry>
        <div layout="column" class="sidenav-sublevel">
            <div layout="column" ng-repeat="competition in event.competitions">
                <sidenav-entry path="'/competitions/' + competition.id + '/groups'"
                               label="competition.name"></sidenav-entry>
                <div layout="column" class="sidenav-sublevel" ng-show="competition.groups">
                    <sidenav-entry ng-repeat="group in competition.groups"
                                   path="'/competitions/' + competition.id + '/groups/' + group.id"
                                   label="'Gruppe ' + ($index+1)"></sidenav-entry>
                </div>
            </div>
        </div>
    </md-content>

    <iframe src="/index.html" class="preview-frame"></iframe>
</md-sidenav>

<md-content flex class="md-whiteframe-z2">
    <section class="content-container" ng-view></section>
</md-content>
</body>
</html>